<%= render "errors", band: @band %>
<h1><%= @band.name %></h1>

<form action="<%= edit_band_url(@band) %>" method="get">
  <button>Edit Band</button>
</form>

<form action="<%= band_url(@band) %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="delete">
  <button>Delete Band</button>
</form>

<h2>Albums</h2>
<form action="<%= new_band_album_url(@band) %>" method="get" >
  <button>Add New Album</button>
</form>

<ul>
  <% @band.albums.each do |album| %>
  <li> <a href="<%= album_url(album) %>"> <%= album.title %> </a> </li>
  <% end %>
</ul>



<form action="<%= bands_url %>" method="get">
  <button>Back</button>
</form>
